<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="account : ${accounts}">
    <span th:text="${account.idx}"></span>
    <span th:text="${account.id}"></span>
    <span th:text="${account.password}"></span>
    <span th:text="${account.name}"></span>
    <button th:onclick="'update('+${account.idx}+')'">수정</button>
</div>
<form method="post" th:object="${accountReq}" action="accountList">
    idx : <input th:field="*{idx}">
    <button>삭제</button>
</form>
<script>
    function update(pk) {
        location.href = "/accountUpdate?idx="+pk;
    }
</script>
</body>
</html>